:root {
   font-family: 'Arial', sans-serif;

   --colors--bg__base        : hsl(0,   0%,  15%);
   --colors--bg__lt          : hsl(0,   0%,  25%);
   --colors--bg__dk          : hsl(0,   0%,  5%);
   --colors--font__base      : hsl(0,   0%, 100%);
   --colors--font__dk        : hsl(0,   0%,  80%);
   --colors--font__accent    : hsl(0, 100%,  50%);
   --colors--font__accent_lt : hsl(0, 100%,  70%);
   --colors--font__accent_dk : hsl(0,  35%,  20%);

   --border-radius           : 10px;
}

body {
   display          : flex;
   flex-direction   : column;
   align-items      : center;
   background-color : var(--colors--bg__base);
}

main {
   padding : 1.25rem;
   flex    : 1;
}

h1 {
   font-size   : 3.5rem;
   text-align  : center;
   text-shadow :  2px 2px 4px hsla(0, 0%, 0%, 0.5);
   margin-bottom: 1.25rem;
}

h1,
a {
   color: var(--colors--font__accent);
}

ul {
   font-size       : 0.85rem;
   font-weight     : bold;
   display         : flex;
}

.opponent-select {
   justify-content : center;
   gap             : 0.85rem;

   > li {
      display          : flex;
      flex-direction   : column;
      justify-content  : space-evenly;
      gap: 0.2rem;
      align-items      : center;
      background-color : var(--colors--bg__lt);
      padding          : 0.8rem 1.25rem;
      border-radius    : var(--border-radius);
   }

   .icon {
      font-size: 1.5rem;
   }

   .selected {
      border           : 2px solid var(--colors--font__accent);
      background-color : var(--colors--font__accent_dk);
   }
}

.player {
   display        : flex;
   flex-direction : column;
   align-items    : center;
}

.player-name {
   color: var(--colors--font__dk);
}

.player-score {
   font-size: 1.5rem;
}

.scoreboard {
   display          : flex;
   justify-content  : space-around;
   background-color : var(--colors--bg__lt);
   border-radius    : var(--border-radius);
   margin           : 0.85rem 0;
   padding          : 1rem;
}
