:root {
   font-family: 'Arial', sans-serif;

   --colors--bg__base     : hsl(0,   0%, 15%);
   --colors--bg__near     : hsl(0,   0%, 25%);
   --colors--font__accent : hsl(0, 100%, 50%);
}

body {
   display          : flex;
   flex-direction   : column;
   align-items      : center;
   background-color : var(--colors--bg__base);
}

main {
   padding : 1.25rem;
   flex    : 1;
}

h1 {
   font-size   : 3.5rem;
   text-align  : center;
   text-shadow :  2px 2px 4px hsla(0, 0%, 0%, 0.5);
   margin-bottom: 1.25rem;
}

h1,
a {
   color: var(--colors--font__accent);
}

.opponent-select {
   font-size       : 0.85rem;
   font-weight     : bold;
   display         : flex;
   justify-content : center;
   gap             : 0.85rem;

   > li {
      display          : flex;
      flex-direction   : column;
      justify-content  : space-evenly;
      gap: 0.2rem;
      align-items      : center;
      background-color : var(--colors--bg__near);
      padding          : 0.8rem 1.25rem;
      border-radius    : 10px;
   }

   .icon {
      font-size: 1.5rem;
   }

   .selected {
      border: 2px solid var(--colors--font__accent);
      background-color: color-mix(in srgb, var(--colors--font__accent), transparent 85%);
   }
}
